[Unit]
Description=Named network namespace %i

# JoinsNamespaceOf= For units that start processes (such as service units),
# lists one or more other units whose network and/or temporary file namespace to
# join. This only applies to unit types which support the PrivateNetwork= and
# PrivateTmp= directives (see systemd.exec(5) for details). If a unit that has
# this setting set is started, its processes will see the same /tmp, /tmp/var
# and network namespace as one listed unit that is started. If multiple listed
# units are already started, it is not defined which namespace is joined. Note
# that this setting only has an effect if PrivateNetwork= and/or PrivateTmp= is
# enabled for both the unit that joins the namespace and the unit whose
# namespace is joined.
JoinsNamespaceOf=systemd-netns@%i.service

# BindsTo= Configures requirement dependencies, very similar in style to
# Requires=, however in addition to this behavior, it also declares that this
# unit is stopped when any of the units listed suddenly disappears. Units can
# suddenly, unexpectedly disappear if a service terminates on its own choice, a
# device is unplugged or a mount point unmounted without involvement of systemd.
BindsTo=systemd-netns-access@%i.service

# PartOf= Configures dependencies similar to Requires=, but limited to stopping
# and restarting of units. When systemd stops or restarts the units listed here,
# the action is propagated to this unit. Note that this is a one-way dependency
# — changes to this unit do not affect the listed units.
PartOf=%i.service
After=syslog.target network.target systemd-netns@%i.service

[Service]
Type=oneshot
RemainAfterExit=true
PrivateNetwork=true

# Start process
ExecStartPre=-/usr/bin/env ip netns delete %I
ExecStart=/usr/bin/env ip netns add %I

# Drop the network namespace that ip netns just created
ExecStart=/usr/bin/env umount /var/run/netns/%I

# Bind mount a file handle for the network namespace to /var/run/netns/%I in
# order to keep the namespace around even if the child processes are no longer
# running. See the following links for more details.
# - man (7) namespaces: The /proc/[pid]/ns/ directory
# - https://lwn.net/Articles/407495/
# - https://lwn.net/Articles/406684/
ExecStart=/usr/bin/env mount --bind /proc/self/ns/net /var/run/netns/%I

# Stop process
ExecStop=/usr/bin/env ip netns delete %I

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
